
# Emacs backups
*~

# Emacs temp files

.#.*

# Compiled lisp
*.el[cn]

# Ephemeral Emacs dirs

server/

transient/

eln-cache/

auto-save-list/

eshell/

tramp

# Org-mode files

org-persist/

.org-generic-id-locations
